body{
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
}
.name-color{
    color: rgb(199, 0, 93);
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-position: 100%;
    padding-bottom: 150px;
}
#first-div{
    
}
.half-width{
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    width: 40%;
}
.half-width img{
    padding-top: 5%;
    width: 80%;
}
.written-part{
    
    margin-top: 150px;
    padding-top: 2%;
    padding-left: 5%;
}
.mid-banner{
    background-image: url(images/biography-bg.png);
    background-position: 100%;
    padding-bottom: 150px;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg ,lightSalmon , tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}
.latest-work{
    background-image: url(images/latest-work-bg.png);
    background-position: 100%;
    padding-bottom: 150px;
}
#latest-work{
    text-align: center;
}
.work-images{
    padding: 3% 10%;
}
.work-images img {
    padding: 0% 2%;
    width: 28%;
}
.client-area{
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-position: 100%;
}
.p{
    color: dimgrey;
    width: 50%;
}
#footer{
    text-align: center;
}
#msg{
    margin: 2% 30%;
    padding: 2% 0%;
    background-image: linear-gradient(90deg, rgb(0, 151, 252) , rgb(23, 94, 247));
    border-radius: 20px;
}
#bruce{
    font-size: 30px;
}
#ceo{
    color: dimgrey;
}
#footer{
    text-align: center;
}
a:hover{
    color: white;
}